<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341503455027-alju16or153clpfnstokjlj3587in7m7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341503455027-alju16or153clpfnstokjlj3587in7m7</string>
	<key>API_KEY</key>
	<string>AIzaSyAZFjjr0aKn9LA_rS0JScRrCh1xrLGWsUw</string>
	<key>GCM_SENDER_ID</key>
	<string>341503455027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musiqueynov</string>
	<key>PROJECT_ID</key>
	<string>musiqueynov</string>
	<key>STORAGE_BUCKET</key>
	<string>musiqueynov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341503455027:ios:5c044938257cc117f19846</string>
</dict>
</plist>